<!DOCTYPE html>
<html>
<head>
	<title>Resultados de buscar: "{{busqueda}}"</title>
	{{> header}}
</head>
<!--//TODO pagina de búsqueda de productos-->
<body>

	{{> menu}}

	<h2>Resultados de buscar: {{busqueda}}</h2>
	<i>Mostrando {{limite}} resultados.</i>
    <div id="contenedor-principal">
    	{{array productos}}
		<div class="producto">
			<a href="/p/{{permalink}}"><img class="producto-imagen" src="../public-uploads/{{imagen}}" width="300px"></a>
			<span class="producto-precio">{{precio}}€</span>
			<span class="producto-titulo">{{titulo}}</span>
			<span class="producto-categoria">{{categoria}}</span>
    	</div>
    	{{/array}}    	
	</div>

	{{> footer}}

	<script type="text/javascript" src="../js/busqueda.js"></script>
</body>
</html>