<!DOCTYPE html>
<html>
<head>
	<title>{{titulo}}</title>
	<link rel="stylesheet" type="text/css" href="../css/menu.css">
	<link rel="stylesheet" type="text/css" href="../css/framework.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--//TODO pagina de búsqueda de productos-->
<body>

	{{> menu}}

    <div id="contenedor-principal">

	</div>
	<script type="text/javascript" src="../js/functions.js"></script>
	<script type="text/javascript" src="../js/menu.js"></script>
	<script type="text/javascript" src="../js/cesta.js"></script>
	<script type="text/javascript" src="../js/busqueda.js"></script>
</body>
</html>