<!DOCTYPE html>
<html>
<head>
	<title>{{titulo}}</title>
	<link rel="stylesheet" type="text/css" href="../css/cesta.css">
	<link rel="stylesheet" type="text/css" href="../css/menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	{{> menu}}

    <div id="contenedor-principal">
    	<ul id="productos-cesta">
    		<li></li>
    	</ul>
	</div>

	<script type="text/javascript" src="../js/functions.js"></script>
	<script type="text/javascript" src="../js/menu.js"></script>
	<script type="text/javascript" src="../js/cesta.js"></script>
</body>
</html>