<!DOCTYPE html>
<html>
<head>
	<title>Cesta</title>
	
	{{> header}}

	<link rel="stylesheet" type="text/css" href="../css/checkout.css">
</head>
<body>

	{{> menu}}

	<div id="mensaje-error"></div>

	<div id="contenedor-total-pagina">
		<h2 class="centrar">Productos a comprar:</h2>
		<!--Esta es la cesta-->
	    <table id="contenedor-cesta-pagina">
		</table>

		<h2 class="centrar">Dirección de envío:</h2>
		<!--Este es el formulario de envio y datos de usuario-->
		<form action="/pagar-tarjeta" method="POST" id="formulario-direccion">
			<div>
				<label>Nombre y apellidos:</label>
				<input type="text" id="nombreApellidos" required="required" placeholder="Nombre Apellido"/>
			</div>
			<div>
				<label>Linea 1 dirección:</label>
				<input type="text" id="direccion1" required="required" placeholder="Calle, Número, Portal, Puerta, Escalera, Letra"/>
			</div>
			<div>
				<label>Linea 2 dirección:</label>
				<input type="text" id="direccion2" required="required" placeholder="Ciudad, Provincia"/>
			</div>
			<div>
				<label>Código postal:</label>
				<input type="number" id="codPostal" required="required" placeholder="12345"/>
			</div>
			<div>
				<label>País:</label>
				<input type="text" id="pais" required="required" placeholder="País"/>
			</div>
			<div>
				<label>Email:</label>
				<input type="email" id="email" required="required" placeholder="email@email.com"/>
			</div>
			<div>
				<label>Teléfono (opcional):</label>
				<input type="number" id="telefono" placeholder="123456789"/>
			</div>
		</form>

		<h2 class="centrar">Datos de pago con tarjeta:</h2>
		<div id="contenedor-pago-tarjeta">
		<!--Este es el formulario de pago con tarjeta-->
			<form id="payment-form" action="/" method="POST">
			  <b class="payment-errors"></b>

			  <div class="form-row">
			    <label>Número:</label>
			    <input id="num-tarjeta" type="text" maxlength="19" size="18" required="required" data-stripe="number">
			  </div>

			  <div class="form-row" id="fila-expira">
			    <label>Expira:</label>
			    <input id="expira-completo" type="text" maxlength="5">
			    <input id="expira-mes" type="hidden" maxlength="2" required="required" data-stripe="exp_month">
			    <input id="expira-ano" type="hidden" maxlength="2" required="required" data-stripe="exp_year">
			  </div>

			  <div class="form-row" id="cvc">
			    <label>CVC:</label>
			    <input type="text" maxlength="4" required="required" data-stripe="cvc">
			  </div>
			</form>
			<div id="contenedor-completar-pago">
				<button class="submit" id="submit-pago">Completar pago ahora</button>
			</div>
		</div>
	</div>
	<br/><br/>

	{{> footer}}

	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript" src="../js/checkout.js"></script>
</body>
</html>