<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat</title>
  <script src="../js/functions.js" type="text/javascript"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body>

  <div class="contenedor-chat">
    <h3 class="titulo-habitacion">Habitación #5124</h3>
    <div class="mensajes-chat"></div>
    <div class="contenedor-inferior">
      <!-- Importante mantenerlos en la misma línea para que no haya espacios en blanco ya que son elementos inline-block -->
      <input class="escribir-texto" type="text" placeholder="Say something..."><input class="boton-enviar-chat" type="button" value=">>">
      <div class="users-connected"></div>
    </div>
  </div>
  
  <script src="../js/chat.js" type="text/javascript"></script>
</body>
</html>
