<!DOCTYPE html>
<html>
<head>
	<title>Email confirmado | Kamisetas Kustom</title>
	<link rel="stylesheet" type="text/css" href="../css/framework.css">
	<style type="text/css">
		.container{
			display: flex;
			flex-direction: column;
			width: 400px;
			margin: auto;
		}
		.container h2{
			color: green;
		}
	</style>
</head>
<body>
	<div class="container">
		<h2>Enhorabuena! Tu email ha sido confirmado.</h2>
		<button onclick="window.location = window.location.origin">Volver al inicio</button>
	</div>
</body>
</html>