<!DOCTYPE html>
<html>
<head>
	<title>Mi cuenta</title>
	<link rel="stylesheet" type="text/css" href="../css/micuenta.css">
	{{> header}}
</head>
<body>

	<div class="overlay"></div>

	{{> menu}}
	<!-- Compras recientes,
		 Estados de los pedidos,
		 Notificaciones,
		 Devolver o reemplazar pedidos,
		 Cambio de contraseña o email,
		 Contactar para soporte: formulario web -->
    <div id="contenedor-principal">
    	<div class="contenedor-spin-titulo">
    		<div class="big-spinner"></div><h3 class="titulo-tabla">Compras recientes</h3>
    		<div class="paginacion"></div>
    	</div>
    	<div class="contenedor-responsive-tabla">
	    	<table id="compras-recientes">
	    	</table>
	    </div>
    	<h3>Cambiar contraseña</h3>
    	<p>Si quieres cambiar la contraseña, pulsa el botón inferior y te mandaremos un correo para reestablecer la contraseña.</p>
    	<div id="cambiar-contrasena-response"></div>
    	<button onclick="cambiarContrasena(this)">Cambiar contraseña</button>
    	<h3>Contacto</h3>
    	<p>Si tienes cualquier problema y necesitas contactar con el equipo de soporte, a continuación tienes un formulario para enviar un email y que podamos resolver tus incidencias lo más rápido posible. Normalmente tardamos menos de 24 horas en responder.</p>
    	<div id="error-enviar-mensaje"></div>
    	<div id="success-enviar-mensaje"></div>
    	<form onsubmit="event.preventDefault(); mandarMensaje(this);" id="formulario-contacto">
    		<input type="text" name="subject" placeholder="Titulo del mensaje">
    		<textarea placeholder="Contenido del mensaje"></textarea>
    		<input type="submit" name="submit">
    	</form>
	</div>

	<br/><br/><br/><br/><br/><br/>

	{{> footer}}
	<script src="../js/micuenta.js" type="text/javascript"></script>

</body>
</html>