<!DOCTYPE html>
<html>
<head>
	<title>{{titulo}}</title>
	{{> header}}
	<link rel="stylesheet" type="text/css" href="../css/breadcrumbs.css">
	<link rel="stylesheet" type="text/css" href="../css/classMinislider.css">
	<link rel="stylesheet" type="text/css" href="../css/producto.css">
</head>
<body>

	{{> menu}}

	<div id="breadcrumbs"></div>
    <div id="contenedor-principal">
		<div id="contenedor-imagenes">
			<div id="contenedor-imagenes-secundarias">
				<div class="contenedor-imagen-secundaria-individual"><img onmouseenter="imageHover(this)" class="imagen-secundaria" src="../public-uploads/{{object imagenes}}"></div>
			</div>

			<div id="contenedor-imagen-principal"><img id="imagen-principal" src="../public-uploads/{{object imagenes 1}}"></div>
		</div>

		<div id="contenedor-informacion-producto">
		    <div id="producto-categoria">
		    	<a href="/{{categoria}}/">{{categoria}}</a>
		    </div>		
		    <h1 id="producto-title">{{titulo}}</h1>

		    <div class="precio-producto">{{precio}}€</div>
		    <br/>
		    <div id="producto-atributos">
		      	<b id="producto-atributos-key">{{loopKey atributos}}</b>
		      	<select>
		    		<option>{{loopArray atributos}}</option>
		    	</select>
		    	{{/loopKey atributos}}
		    </div>
		    <br/>
		    <div id="producto-descripcion">
		    <div id="producto-descripcion-fade"></div>
		    	<p>{{descripcion}}</p>
		    </div>
		    <div id="contenedor-button-expandir-texto">
		    	<a id="button-expandir-texto" href="javascript:void(0)">Expandir texto</a>
		    </div>
		    <br/>
		</div>

		<div id="contenedor-comprar-producto">
			<div id="contenedor-input-cantidad">Cantidad: <input id="input-cantidad" type="number" max="9" value="1"></div>
			<button class="button-añadir-cesta">Añadir a la cesta</button>
			<button class="button-comprar-ahora">Comprar ahora</button>
		</div>
	</div>
	<div class="contenedor-minislideres">
		<div id="minislider-vistos-anteriormente"></div>
		<div id="minislider-comprados-juntos"></div>
		<div id="minislider-random"></div>		
		<div id="minislider-recientes"></div>
	</div>

	{{> footer}}

	<script type="text/javascript" src="../js/breadcrumbs.js"></script>
	<script type="text/javascript" src="../js/classMinislider.js"></script>
	<script type="text/javascript" src="../js/producto.js"></script>
</body>
</html>