
/*

GENERALES

*/

body{
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a.main-menu{
  text-decoration: none;
  color: white;
  font-size: 13pt;
  font-family: verdana;
}
a.main-menu:hover{
  color: blue;
}
button{
  background-color: rgb(0, 154, 196);
  color: white;
  border: 1px solid rgb(0, 154, 196);
  padding: 5px;
  font-size: 13pt;
}
button:hover{
  cursor: pointer;
  background-color: rgb(0, 154, 196);
  border: 1px solid black;
}
.disabled, .disabled:hover{
  background-color: grey;
  color: rgb(170, 170, 170);
  border: 1px solid grey;
  cursor: not-allowed;
}
.button-no-style{
  background-color: transparent;
  border: 1px solid rgb(0, 175, 223);
  color: rgb(0, 154, 196);
}
.button-big-padding{
  padding: 5%;
}
.button-no-style:hover{
  background-color: transparent;
  border: 1px solid rgb(0, 175, 223);
  color: rgb(0, 175, 223);
}
#contenedor-guardar-producto{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-width: 17%;
}

/*

SECCION IMAGENES

*/

#contenedor-imagenes{
  padding: 10px;
  width: 33%;
  position: relative;
}
#contenedor-interior-imagenes{
  display: flex;
  justify-content: center;  
  flex-direction: row;
}
#contenedor-imagenes-secundarias{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
#imagen-principal{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: url('../images/plus.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  height: 20vw;
}
#imagen-principal:hover{
  background-color: rgba(0, 194, 255, 0.6);
  border: 2px solid black;
}
#imagen-principal-uploaded{
  position: relative;
  width: 100%;
}
#imagen-principal-uploaded-active{
  width: 100%;
  transition: all 0s;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  cursor: pointer;
}
#imagen-secundaria-uploaded-active{
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  cursor: pointer;
}
.imagen-plus-icono{
  width: 50px;
}
.imagen-secundaria-contenedor{
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.imagen-secundaria{
  width: 40px;
}
#imagen-secundaria-activa-hover{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  font-size: 23pt;
  width: 40px;
  height: 40px;
}
#imagen-secundaria-activa-hover-flecha-down{
  background-image: url('../images/down-arrow.png');
  width: 20px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#imagen-secundaria-activa-hover-flecha-up{
  background-image: url('../images/up-arrow.png');
  width: 20px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#imagen-secundaria-activa-hover-flecha-down:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
#imagen-secundaria-activa-hover-flecha-up:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
#imagen-secundaria-activa-hover-flecha-up:firs-child:hover{
  background-color: rgba(255, 237, 0, 0.5);
}
#image-upload-input{
  display: none;
}

/*

INFORMACION PRODUCTO

*/

#contenedor-informacion-producto{
  padding: 8px;
  min-width: 66%;
  display: flex;
  flex-direction: column;
}
#producto-descripcion{
  width: 100%;
  font-family: helvetica;
}
.contenedores-precio-permalink{
  width: 150px;
  display: inline-block;
  text-align: center;
}
#permalink{
  font-weight: bold;
  width: calc(100% - 309px);
  display: inline-block;
}
#producto-title{
  width: 100%;
  font-size: 20pt;
  word-wrap: break-word;
}
#producto-categorias{
  font-size: 13pt;
  float: left;
  margin-right: 5px;
  padding: 4.5px;
}
#nueva-categoria{
  font-size: 13pt;
  float: left;
  margin-right: 5px;
  padding: 4.5px;
}
#contenedor-elementos-categoria{
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 5px;
  border-right: none;
  width: 50%;
}
#contenedor-categoria-add{
  display: none;
  border: 1px solid lightgrey;
  padding: 5px;
  border-right: none;
  width: 50%;
}
#lista-atributos{
  list-style-type: none;
  padding-left: 0;
}
.x-delete-icon{
  cursor: pointer;
  float: right;
  margin-top: 5px;
}
.x-delete-icon:hover{
  color: red;
}
.lista-atributos-estilo{
  border: 1px solid lightgrey;
  padding: 0 5px;
}
#contenedor-categoria-atributos{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#contenedor-elementos-atributos{
  border: 1px solid lightgrey;
  padding: 5px;
  width: 50%;
}
#button-atributo-add{
  float: right;
}
.lista-atributos-estilo{
  margin-bottom: 5px;
}
.lista-atributos-estilo:last-child{
  margin-bottom: 0;
}
#atributo-nuevo-nombre{
  padding: 8px;
}
.contenedor-magico{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#lista-atributos{
  display: none;
}
.x-hover-red{
  cursor: pointer;
}
.x-hover-red:hover{
  color: red;
}
.contenedor-valor-atributo{
  display: flex;
  justify-content: space-between;
}
#button-categoria-borrar{
  float: right;
}
#button-activar-nueva-categoria{
  float: right;
}
#button-nueva-categoria-cancelar{
  float: right;
}
#button-nueva-categoria-add{
  float: right;
}

/*

RESPONSIVE CSS

*/

@media (max-width: 1400px){
  #contenedor-categoria-atributos{
    flex-direction: column;
  }
  #contenedor-elementos-categoria{
    width: 100%;
  }
  #contenedor-categoria-add{
    width: 100%;
  }
  #contenedor-elementos-atributos{
    width: 100%;
  }
}
@media (max-width: 700px){
  button {
    background-color: rgb(0, 154, 196);
    color: white;
    border: 1px solid rgb(0, 154, 196);
    padding: 5px;
    font-size: 11pt;
  }
  #imagen-principal-uploaded{
    width: 100%;
  }
  #imagen-principal-uploaded-active{
    width: 100%;
  }
}
/*TODO THIS*/
@media (max-width: 600px){
  #seccion-preview{
    flex-direction: column;
  }
  #contenedor-imagenes{
    width: 100%;
  }
  #contenedor-guardar-producto{
    width: 100%;
  }
  #contenedor-guardar-producto *{
    width: 50%;
  }
  #imagen-principal{
    background-size: 10%;
  }
}
@media (max-width: 550px){
  #imagen-principal{
    height: 300px;
  }
  #contenedor-imagenes{
    width: 100%;
  }
  #contenedor-guardar-producto {
    display: flex;
    justify-content: space-around;
    flex-direction: initial;
    align-items: flex-start;
    padding: 0;
  }
  .button-big-padding {
    padding: 0;
    width: 100%;
    height: 200px;
  }
  .main-menu {
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  #permalink {
    font-weight: bold;
    width: 100%;
    min-width: 200px;
  }
}

/*

JAVASCRIPT CSS

*/

#imagen-secundaria-orden-1{
  order: 1;
}
#imagen-secundaria-orden-2{
  order: 2;
}
#imagen-secundaria-orden-3{
  order: 3;
}
#imagen-secundaria-orden-4{
  order: 4;
}
#imagen-secundaria-orden-5{
  order: 5;
}
#imagen-secundaria-orden-6{
  order: 6;
}
#imagen-secundaria-orden-7{
  order: 7;
}
#imagen-secundaria-orden-8{
  order: 8;
}
#imagen-secundaria-orden-9{
  order: 9;
}
#imagen-secundaria-orden-10{
  order: 10;
}
