/*

MAIN MENU

*/

.main-menu{
  height: 50px;
  background-color: rgba(0, 194, 255, 0.6);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
  position: fixed;
  z-index: 3;
  text-align: center;
}
.main-menu a{
  text-decoration: none;
  color: white;
  font-size: 13pt;
  font-family: verdana;
  flex-grow: 1;
}
.main-menu a:hover{
  color: yellow;
}

/*

Burger

*/

#contenedor-burger{
  box-sizing: border-box;
  cursor: pointer;
  width: 50px;
  border-radius: 2px;
}

.burger:first-child{
  margin-top: 0px;
}

/*

GENERALES

*/

body{
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button{
  background-color: rgb(0, 154, 196);
  color: white;
  border: 1px solid rgb(0, 154, 196);
  padding: 5px;
  font-size: 13pt;
}
button:hover{
  cursor: pointer;
  background-color: rgb(0, 175, 223);
}
input{
  padding: 10px;
  border: 1px solid lightgrey;
}
input:hover{
  border: 1px solid blue;
  box-sizing: border-box;
}
textarea{
  padding: 10px;
}
textarea:hover{
 border: 1px solid blue; 
}
