/*

GENERALES

*/
	
*{
	transition: all 0.2s ease-out;
}
body{
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
	font-weight: 100;
}
#contenedor-total{
	display: flex;
	justify-content: center;
}
.no-products-found{
	color: grey;
	text-align: center;
}
#button-nuevo-producto{
	padding: 10px 0;
}

/*

PRODUCTOS

*/

#seccion-productos{
	width: 350px;
	height: calc(100vh - 50px);
	border-right: 1px solid lightgrey;
	background-color: white;
	z-index: 3;
	border-left: 1px solid lightgrey;
	flex: none;
	position: fixed;
	margin-top: 50px;
	left: 0;
	overflow-y: auto;
}
.contenedor-producto{
	border-bottom:  1px solid lightgrey;
	display: flex;
	align-items: flex-start;
	height: 80px;
}
.contenedor-producto:first-child{
	border-top: 1px solid lightgrey;
}
.contenedor-producto a{
	text-decoration: none;
	font-size: 11pt;
}
.imagen-producto{
	margin: 17px;
	max-height: 50px;
	max-width: 50px;
}
.contenedor-producto-informacion{
	padding: 5px;
	padding-left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.contenedor-producto-informacion h3{
	margin: 0;
}
.categoria-producto-unico{
	font-size: 9pt;
	color: grey;
	margin: 2px 0;
}
.contenedor-enlaces-producto{
	display: flex;
	justify-content: space-between;
}
#precio-permalink-no-border input{
	border-bottom: none;
	border-top: none;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}
#precio-permalink-no-border input:hover{
	border: 1px solid blue;
}
.borrador{
	background-color: #EBEBEB;
}
#contenedor-opciones-productos{
	display: flex;
}
#contenedor-categorias{
	width: 50%;
}
#button-nuevo-producto{
	width: 50%;
}
.ocultar-menu{
	transform: translate(-500px);
}
#overlay-black{
	position: fixed;
	width: 100%;
	display: none;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 2;
}
.sombra-seccion-productos{
	box-shadow: 13px 8px 35px -8px rgba(0,0,0, 0.3);
}

/**

PREVIEW

*/

#seccion-preview{
	width: calc(100% - 350px);
	height: calc(100vh - 50px);
  	justify-content: center;
  	margin-top: 50px;
  	margin-left: 200vw;
	display: flex;
}
#seccion-preview.animar-menu-visible{
	width: 100%;
	margin-left: 350px;
}
#seccion-preview.animar-menu-oculto{
	width: 100%;
	margin-left: 0;
}

/*

RESPONSIVE CSS

*/
