/*

GENERALES

*/

h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
	font-weight: 100;
}
#contenedor-total{
	display: flex;
	justify-content: center;
}
.no-products-found{
	color: grey;
	text-align: center;
}

/*

MENU LATERAL

*/

#seccion-menu{
	width: 15%;
	height: calc(100vh - 50px);
	background-color: #EEEEEE;
}

/*

PRODUCTOS

*/

#seccion-productos{
	width: 35%;
	height: calc(100vh - 50px);
}
.contenedor-producto{
	border-bottom:  1px solid lightgrey;
	display: flex;
	align-items: center;
}
.imagen-producto{
	height: 130px;
}
.contenedor-producto-informacion{
	display: flex;
	flex-direction: column;
	padding: 15px 0;
}
.contenedor-producto-informacion h3{
	margin: 0;
}

/*

PREVIEW

*/

#seccion-preview{
	width: 50%;
	height: calc(100vh - 50px);
	background-color: #EEEEEE;
}