/*

MAIN MENU

*/

.main-menu{
  height: 50px;
  background-color: rgba(0, 194, 255, 0.6);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  justify-content: center;
}
.main-menu-item{
  width: 300px;
}
#progress-bar{
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(10, 43, 116, 0.81);
  height: 20px;
}

/*

GENERALES

*/

body{
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button{
  background-color: rgb(0, 154, 196);
  color: white;
  border: 1px solid rgb(0, 154, 196);
  padding: 5px;
  font-size: 13pt;
}
button:hover{
  cursor: pointer;
  background-color: rgb(0, 175, 223);
}
input{
  border: 1px solid grey;
  border-radius: 3px;
  padding: 2px;
}
input:hover{
  border: 1px solid blue;
}
textarea{
  border: 1px solid grey;
  border-radius: 3px; 
  padding: 2px;
}
textarea:hover{
 border: 1px solid blue; 
}
.main-menu a{
  text-decoration: none;
  color: white;
  font-size: 13pt;
  font-family: verdana;
}
.main-menu a:hover{
  color: blue;
}