#breadcrumbs{
	padding: 0 80px;
    display: flex;
    margin: 0;
    font-size: 10pt;
    justify-content: center;
    text-transform: uppercase;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}
#breadcrumbs a{
	text-decoration: none;
	padding: 5px 10px;
	color: #444444;
	border-right: 1px solid lightgrey;
}
#breadcrumbs a:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
#breadcrumbs a:last-child{
	border: none;
}
@media (max-width: 1000px){
	#breadcrumbs{
		padding: 0;
	}
}