/*

GENERALES

*/
.overlay{
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	z-index: 25;
}
.big-spinner{
	display: inline-block;
	position: relative;
	top: 8px;
}
.mensaje-cargando{
	display: none;
}
.mensaje-cargando-pagina{
	display: inline-block;
	margin-left: 10px;
}
/*

SIDEBAR

*/
#sidebar{
	width: 200px;
	margin-top: 40px;
	margin-left: 10px;
}
#sidebar.sidebar-hidden{
	display: block;
    position: fixed;
    background-color: white;
    height: 100%;
    top: 0;
    margin-top: 0;
    z-index: 40;
    margin-left: 0;
    padding: 0 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
	transform: translateX(-200px);
}
#sidebar.sidebar-active{
	display: block;
    position: fixed;
    background-color: white;
    height: 100%;
    top: 0;
    margin-top: 0;
    z-index: 40;
    margin-left: 0;
    padding: 0 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    transform: translateX(0px);
}
.filtro-titulo{
	font-variant: small-caps;
	font-size: 18pt;
}
.filtro-precio{
	padding-left: 10px;
}
.filtro-precio div{
	padding: 5px 0;
}
.filtro-precio div a{
	text-decoration: none;
	color: #444444;
}
.filtro-precio div a:hover{
	color: black;
}
/*

PRINCIPAL

*/
.contenedor-total{
	display: flex;
	justify-content: center;
}
#contenedor-principal{
	width: calc(100% - 225px);
	padding-left: 15px;
    border-left: 1px solid lightgrey;
}
#responsive-filters{
	display: none;
	background-color: #0014D6;
}
.mensaje-resultados{
	font-style: normal;
    text-transform: uppercase;
    font-size: 10pt;
}
.titulo-categoria{
	font-weight: 100;
    text-transform: uppercase;
    font-size: x-large;
    font-family: 'open sans';
}
.producto{
	width: calc(24% - 20px);
	max-width: 300px;
	display: inline-block;
	margin-right: 20px;
	height: 500px;
}
.paginacion{
	float: right;
	margin-top: -20px;
	display: none;
}
.paginacion span{
	background-color: rgba(0, 0, 0, 0.08);
	padding: 20px;
	cursor: pointer;
	transition: none;
}
.paginacion span:hover{
	background-color: rgba(0, 0, 0, 0.05);
}
.paginacion span:active{
	background-color: rgba(0, 0, 0, 0.03);
}
span.pagina-activa{
	background-color: orange;
	color: white;
}
.paginacion span.pagina-activa:hover{
	background-color: darkorange;
}
.mensaje-error{
	margin: 0 auto;
}
.mensaje-error h3{
	display: inline-block;
	position: relative;
	top: 7px;
}
.titulo-producto{
	text-decoration: none;
	color: #444444;
	margin: 0;
	/*Para que se baje de línea y se vea correctamente*/
	display: block;
}
.titulo-producto:hover{
	color: blue;
}
.precio-producto{
	font-family: 'open sans condensed';
	color: orangered;
	font-size: 17pt;
	display: block;
}
.categoria-producto{
    color: darkgrey;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 9pt;
}
.categoria-producto:hover{
	color: blue;
}
@media (max-width: 1350px){
	#contenedor-principal{
		margin-left: 50px;
		float: left;
	}	
}
@media (max-width: 1150px){
	#contenedor-principal{
		width: 600px;
	}
	.paginacion{
		margin: 20px 0;
	}
}
@media (max-width: 850px){
	#sidebar{
		display: none;
	}
	#responsive-filters{
		display: block;
		margin-top: 42px;
	}
}
@media (max-width: 700px){
	#contenedor-principal{
		width: 300px;
	}
	.paginacion :nth-child(1), .paginacion :nth-last-child(1){
		display: none;
	}
}