/*

GENERALES

*/
.overlay{
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	z-index: 25;
}
/*

SIDEBAR

*/
#sidebar{
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}
#sidebar.sidebar-hidden{
	display: block;
    position: fixed;
    background-color: white;
    height: 100%;
    top: 0;
    margin-top: 0;
    z-index: 40;
    margin-left: 0;
    padding: 0 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
	transform: translateX(-200px);
}
#sidebar.sidebar-active{
	display: block;
    position: fixed;
    background-color: white;
    height: 100%;
    top: 0;
    margin-top: 0;
    z-index: 40;
    margin-left: 0;
    padding: 0 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
    transform: translateX(0px);
}
.filtro-titulo{
	font-variant: small-caps;
	font-size: 18pt;
}
.filtro-precio{
	padding-left: 10px;
}
.filtro-precio div{
	padding: 5px 0;
}
.filtro-precio div a{
	text-decoration: none;
	color: #444444;
}
.filtro-precio div a:hover{
	color: black;
}
/*

PRINCIPAL

*/
#contenedor-principal{
	width: 900px;
	margin: 0 auto;
}
#responsive-filters{
	display: none;
	background-color: #0014D6;
}
.producto{
	width: 300px;
	float: left;
	height: 500px;
}
.paginacion{
	float: right;
	margin-top: -10px;
	display: none;
}
.paginacion span{
	background-color: whitesmoke;
	padding: 10px 7px;
	cursor: pointer;
}
.paginacion span:hover{
	background-color: lightgrey;
}
span.pagina-activa{
	background-color: orange;
}
.mensaje-error{
	margin: 0 auto;
}
.mensaje-error h3{
	display: inline-block;
	position: relative;
	top: 7px;
}
.titulo-producto{
	text-decoration: none;
	color: #444444;
	margin: 0;
	/*Para que se baje de línea y se vea correctamente*/
	display: block;
}
.titulo-producto:hover{
	color: blue;
}
.precio-producto{
	font-family: 'open sans condensed';
	color: red;
	font-size: 17pt;
	display: block;
}
.categoria-producto{
	color: lightgrey;
	text-decoration: none;
}
.categoria-producto:hover{
	color: blue;
}
@media (max-width: 1350px){
	#contenedor-principal{
		margin-left: 50px;
		float: left;
	}	
}
@media (max-width: 1150px){
	#contenedor-principal{
		width: 600px;
	}
}
@media (max-width: 850px){
	#sidebar{
		display: none;
	}
	#responsive-filters{
		display: block;
		margin-top: 42px;
	}
}
@media (max-width: 700px){
	#contenedor-principal{
		width: 300px;
	}
	.paginacion{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}