#cesta{
	position: relative;
	height: 100%;
	line-height: 450%;
}
#productos-cesta{
	display: none;
    overflow: hidden;
	position: absolute;
    background: white;
    top: 70px;
    right: 150px;
    text-align: left;
    border-radius: 15px;
    border-spacing: 0;
    max-width: 800px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.36);
}
#productos-cesta td{
	padding: 10px;
}
#productos-cesta a{
    text-decoration: none;
    color: black;
}
#productos-cesta a:hover{
    color: blue;
}
.cesta-precio{
    font-weight: bold;
}
#productos-cesta input{
	width: 30px;
}
#productos-cesta tr:hover{
	background-color: whitesmoke;
}
#productos-cesta tr:nth-last-child(1){
    background-color: whitesmoke;
}
.triangulo-up{
	display: none;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    bottom: -1px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
.x-icon{
	color: grey;
	cursor: pointer;
}
.x-icon:hover{
	color: black;
}
.icono-cesta{
    width: 30px;
    margin-top: 5px;
    display: inline;
}
.titulo-producto{
    max-width: 400px;
}
#mensaje-cesta-vacia{
    padding: 20px;
    color: grey;
}
@media (max-width: 1000px){
    #productos-cesta{
        right: 50px;
    }
}
@media (max-width: 800px){
    #productos-cesta{
        max-width: 80%;
    }
}
@media (max-width: 650px){
    #productos-cesta{
        top: 325px;
        max-width: 100%;
        right: 0;
        z-index: 20;
    }
}