/*

PÁGINA CESTA

*/
#contenedor-cesta-pagina{
    max-width: 900px;
    margin: 0 auto;
}
#contenedor-cesta-pagina input{
    width: 45px;
}
#contenedor-cesta-pagina td{
    padding: 10px;
}
#contenedor-cesta-pagina a{
    text-decoration: none;
    color: black;
}
#contenedor-cesta-pagina a:hover{
    color: blue;
}
#contenedor-cesta-pagina{
    border-spacing: 0;
}
.spinner-central{
    margin-top: 20px;
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
    height: 100px;
}
/*

WIDGET CESTA

*/
#cesta{
	position: relative;
    flex: none;
    flex-direction: column;
}
#cesta:hover{
    font-weight: bold;
}
#cesta img{
    margin-right: 6px;
}
#productos-cesta{
	display: none;
    overflow: hidden;
	position: absolute;
    background: white;
    top: 70px;
    right: 150px;
    text-align: left;
    border-radius: 15px;
    border-spacing: 0;
    max-width: 800px;
    z-index: 10;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.36);
}
#productos-cesta td{
	padding: 10px;
}
#productos-cesta a{
    text-decoration: none;
    color: black;
}
#productos-cesta a:hover{
    color: blue;
}
#productos-cesta input{
	width: 45px;
}
#productos-cesta tr:hover{
	background-color: whitesmoke;
}
#productos-cesta tr:nth-last-child(1){
    background-color: whitesmoke;
}
.triangulo-up{
	display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    bottom: -1px;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
}
.spinner-cesta{
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
}
.x-icon{
    font-size: 20pt;
	color: rgba(0, 0, 0, 0.40);
	cursor: pointer;
}
.x-icon:hover{
	color: black;
}
.titulo-producto{
    max-width: 400px;
}
#mensaje-cesta-vacia{
    padding: 20px;
    color: grey;
}
@media (max-width: 1000px){
    #productos-cesta{
        right: 50px;
    }
}
@media (max-width: 800px){
    #productos-cesta{
        max-width: 80%;
    }
}
@media (max-width: 650px){
    #productos-cesta{
        top: 324px;
        max-width: 100%;
        right: 0;
        z-index: 10;
    }
}
@media (max-width: 420px){
    #productos-cesta{
        z-index: 10;
    }   
    .titulo-producto{
        display: none;
    }
    .separador-tabla{
        display: none;
    }
    .cesta-precio{
        display: none;
    }
}