*{
  font-family: sans-serif;
  box-sizing: border-box;
}
.contenedor-chat{
  box-shadow: 0 1.5px 3px grey;
  display: inline-block;
  word-wrap: break-word;
  width: 250px;
  height: 400px;
}
.titulo-habitacion{
  margin: 0;
  background-color: #00C06C;
  color: white;
  padding: 10px; 
}
.mensajes-chat{
  background-color: whitesmoke;
  height: 290px;
  padding: 15px;
  overflow: auto;
}
.mensaje-propio{
  float: right;
  background-color: rgba(0, 0, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
.escribir-texto{
  width: calc(100% - 50px);
  height: 25px;
  border: none;
}
.boton-enviar-chat{
  width: 50px;
  height: 25px;
  border: none;
}