/*

MINISLIDER

*/
.contenedor-minislider{
	/*El width 15px del margin-right 300px por cada producto que quires que se muestre*/
	width: 100%;
	max-width: 1280px;
	height: 100%;
	padding: 5px;
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}
.contenedor-minislider h2{
	color: #444444;
	margin: 0;
}
.minislider{
	display: flex;
    justify-content: space-around;
}
.titulo-contenedor-minislider{
	padding-bottom: 15px;
    border-bottom: 1px solid lightgrey;
    color: black;
    font-size: 15pt;
    text-transform: uppercase;
    text-align: center;
    font-family: 'open sans';
}
.titulo-minislider{
	text-decoration: none;
	color: black;
	/*Para que se baje de línea y se vea correctamente*/
	display: block;
	height: 60px;
	text-transform: capitalize;
}
.titulo-minislider:hover{
	color: blue;
}
.precio-minislider{
	font-family: 'open sans condensed';
	color: black;
	font-size: 17pt;
	display: block;
}
.categoria-minislider{
    color: darkgrey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9pt;
}
.categoria-minislider:hover{
	color: blue;
}
.contenedor-producto-minislider{
	width: 19.8%;
    display: inline-block;
}
.flecha-minislider{
	height: 60px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	opacity: 0.5;
	cursor: pointer;
	transition: none;
	z-index: 10;
}
.flecha-minislider:not([disabled]):hover{
	height: 62px;
}
.flecha-minislider:not([disabled]):active{
	height: 55px;
}
.flecha-minislider[disabled]{
	cursor: not-allowed;
	opacity: 0.5;
}
.flecha-izquierda-minislider{
	left: 0;
}
.flecha-derecha-minislider{
	right: 0;
}
/*Reducir el tamaño del minislider*/
@media (max-width: 1050px){
	.contenedor-producto-minislider:last-child{
		display: none;
	}
	.contenedor-producto-minislider{
		width: 24.75%;
	    display: inline-block;
	    margin-right: 0.25%;
	}
	.titulo-minislider{
		height: 80px;
	}
}
@media (max-width: 750px){
	.contenedor-producto-minislider:nth-last-child(2){
		display: none;
	}
	.contenedor-producto-minislider{
		width: 32.75%;
	    display: inline-block;
	    margin-right: 0.25%;
	}
	.titulo-minislider{
		height: 80px;
	}
}
@media (max-width: 550px){
	.contenedor-producto-minislider:nth-last-child(3){
		display: none;
	}
	.contenedor-producto-minislider{
		width: 49.75%;
	    display: inline-block;
	    margin-right: 0.25%;
	}
	.titulo-minislider{
		height: 80px;
	}
}