/*

GENERALES

*/
#contenedor-total-pagina{
	display: none;
}
.spinner-final{
	display: none;
	position: relative;
    float: right;
    margin-left: 10px;
    top: 1.5px;
}
.centrar{
	text-align: center;
}
/*

PREGUNTAS FRECUENTES

 */
#preguntas-frecuentes{
	position: fixed;
	right: 2px;
	bottom: 0;
}
/*

CESTA PÁGINA

*/
#contenedor-cesta-pagina{
    max-width: 900px;
    margin: 0 auto;
}
#contenedor-cesta-pagina input{
    width: 45px;
}
#contenedor-cesta-pagina td{
    padding: 10px;
}
#contenedor-cesta-pagina a{
    text-decoration: none;
    color: black;
}
#contenedor-cesta-pagina a:hover{
    color: blue;
}
#contenedor-cesta-pagina{
    border-spacing: 0;
	box-shadow: 0px 1px 3px grey;
    width: 700px;
    padding: 20px;    
}
.thin-spinner{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
}
/*

FORMULARIO DE DIRECCIÓN DE ENVÍO

*/
.subtitulo-comprar{
	display: block;
	text-align: center;
	margin: 10px 0;
}
#formulario-direccion{
	box-shadow: 0px 1px 3px grey;
    width: 700px;
	margin: auto;
	padding: 20px;
}
#formulario-direccion div{
	padding: 5px 0;
}
#formulario-direccion label{
	width: 300px;
	display: inline-block;
}
#formulario-direccion input{
	width: 355px;
	display: inline-block;
}
/*

FORMULARIO DE PAGO CON TARJETA

*/
/*Para quitar las flechas de subir o bajar numero*/
#payment-form input::-webkit-outer-spin-button,
#payment-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#contenedor-pago-tarjeta{
	box-shadow: 0px 1px 3px grey;
    width: 700px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
}
#payment-form label{
	display: inline-block;
	width: 110px;
}
#payment-form{
	width: 320px;
	border: 1px solid lightgrey;
	padding: 10px;
}
#fila-expira input{
	width: 60px;
	height: 30px;
}
#cvc input{
	width: 60px;
	height: 30px;
}
#contenedor-completar-pago{
	display: flex;
	flex-direction: column;
}
#submit-pago{
	margin-top: 15px;
}
#mensaje-error{
	color: red;
	text-align: center;
}
.form-row{
	padding: 5px;
}
.payment-errors{
	display: none;
	color: red;
}
@media (max-width: 730px){
    #contenedor-pago-tarjeta{
        width: 400px;
    }
    #contenedor-completar-pago{
    	margin: 0 5px;
    }
    #formulario-direccion{
        width: 400px;
    }
    #contenedor-cesta-pagina{
        width: 400px;
    }
    .cesta-precio{
        display: none;
    }
}
@media (max-width: 650px){
	.thin-spinner{
		top: 180px;
	}
}
@media (max-width: 420px){
	#formulario-direccion{
		padding: 10px;
		width: 99%;
	}
	#contenedor-cesta-pagina{
		width: 99%;
		padding: 0;
	}
	#contenedor-pago-tarjeta{
		width: 99%;
		padding: 10px;
	}
}
@media (max-width: 400px){
	#formulario-direccion input{
		width: 340px;
	}
}