footer{
	background-color: rgb(16, 16, 16);
	color: white;
	padding: 80px;
	display: flex;
	justify-content: space-around;
}
footer ul.departamentos{
	list-style-type: persian;
}
footer .footer-columna .footer-contenedor-payments{
	background-color: lightgrey;
    padding: 30px;
    margin-top: 40px;
}
footer ul.departamentos li{
	margin-bottom: 5px;
}
footer ul.departamentos li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 9pt;
}
footer ul.departamentos li a:hover{
	color: #ffcd72;
}
@media (max-width: 800px){
	footer{
		flex-direction: column;
	}
}