*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease-out;
}
body{
    margin: 0;
    color: #444444;
}
h1, h2, h3, h4, h5, h6, button{
	font-family: helvetica;
    font-weight: normal;
    font-family: 'Open Sans Condensed', sans-serif;
}
h1{
    font-size: 36pt;
}
h2{
    font-size: 32pt;
}
h3{
    font-size: 26pt;
}
h4{
    font-size: 22pt;   
}
h5{
    font-size: 18pt;
}
h6{
    font-size: 15pt;
}
hr{
    border: 1px solid lightgrey;
}
input, textarea{
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}
.spinner{
    border: 2px solid whitesmoke;
    border-top: 2px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    position: absolute;
}
.big-spinner{
    border: 5px solid whitesmoke;
    border-top: 5px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
.thin-spinner{
    border: 2px solid whitesmoke;
    border-top: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    top: 100px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.contenedor-responsive-tabla{
    overflow: auto;
}
button, input[type=submit]{
    background-color: #ffcd72;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    font-size: 13px;
    border: none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
button[disabled], button[disabled]:hover, input[disabled], button[disabled]:hover{
    background-image: linear-gradient(to bottom, lightgrey, lightgrey);
    cursor: not-allowed;
    font-family: 'Open Sans', sans-serif;
}
button:hover, input[type=submit]:hover{
    background-image: linear-gradient(to bottom, #f59f0a, #f59f0a);
    font-family: 'Open Sans', sans-serif;
}
button:focus, input[type=submit]:focus{
    background-image: linear-gradient(to bottom, #FFBE4E, #FFBE4E);
    font-family: 'Open Sans', sans-serif;
}