@font-face{
	font-family: 'Vladimir';
    src: url('../fonts/vladimir-webfont.woff2') format('woff2'),
         url('../fonts/vladimir-webfont.woff') format('woff'),
		 url(../fonts/VLADIMIR.ttf) format('truetype');
	font-weight: normal;
    font-style: normal;
}
.index-header{
	font-family: 'vladimir';
	background-image: url('../images/_index.jpg');
	height: 350px;
	background-size: 100%;
    color: white;
    font-size: 70pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
@media (max-width: 600px){
	.index-header{
		font-size: 30pt;
	}
}