/*

SLIDER

*/
/*Para contener el slider y que solo se vea la imagen destacada*/
#contenedor-contenedor-slider{
	overflow: hidden; 
	position: relative;
}
#contenedor-imagenes-slider{
	display: none;
	position: relative;
}
#flecha-izquierda-slider{
	position: absolute;
	top: 50%;
	padding: 10px;
	transform: translateY(-50%);
	left: 60px;
	height: 60px;
	cursor: pointer;
	opacity: 0.5;
	z-index: 10;
	transition: none;
}
#flecha-izquierda-slider:hover{
	height: 70px;
	background-color: rgba(0, 0, 0, 0.1);
}
#flecha-derecha-slider{
	position: absolute;
	top: 50%;
	padding: 10px;
	transform: translateY(-50%);
	right: 60px;
	height: 60px;
	cursor: pointer;
	opacity: 0.5;
	z-index: 10;
	transition: none;
}
#flecha-derecha-slider:hover{
	height: 70px;
	background-color: rgba(0, 0, 0, 0.1);
}
.imagen-slider{
	position: relative;
	float: left;
}
/*

MINISLIDER

*/
.contenedor-minislider{
	width: 940px;
	height: 100%;
	padding: 5px 20px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	display: block;
	margin: 0 auto;
}
.contenedor-minislider h2{
	color: #444444;
	margin: 0;
}
.minislider{

}
.titulo-minislider{
	text-decoration: none;
	color: black;
	
}
.contenedor-producto-minislider{
	width: 300px;
	float: left;
}
.flecha-minislider{
	height: 60px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	opacity: 0.5;
	cursor: pointer;
	transition: none;
	z-index: 10;
}
.flecha-minislider:hover{
	height: 65px;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.3);
}
.flecha-izquierda-minislider{
	left: 20px;
}
.flecha-derecha-minislider{
	right: 20px;
}