/*

GENERALES

*/
#menu-principal{
	width: 100%;
	padding: 0 80px;
	height: 70px;
	background-color: #000420;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 20;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
#menu-principal > a, #usuario, #contenedor-login-dropdown{
    width: 120px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 8.5pt;
    color: white;
    text-decoration: none;
}
a#logo{
	flex: none;
	height: 100%;
	width: initial;
	font-size: 37pt;
	line-height: initial;
	font-family: 'open sans condensed';
}
#toggle-menu-responsive{
	display: none;
	background-image: none;
    background-color: transparent;
}
#toggle-menu-responsive:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
/*

DEPARTAMENTOS

*/
#departamentos{
	position: relative;
	flex: none;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
#departamentos:hover{
	font-weight: bold;
}
#expandible-departamentos{
    display: none;
    background-color: white;
    position: absolute;
    left: -40px;
    top: 70px;
    border-radius: 15px;
    z-index: 5;
    width: 200px;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.36);
}
#expandible-departamentos ul{
	list-style-type: none;
	padding-left: 0;
	font-weight: normal;
	margin: 0;
}
#expandible-departamentos ul li a{
    text-decoration: none;
    color: black;
    text-align: left;
    padding: 10px 30px;
    display: block;
}
#expandible-departamentos ul li:hover{
	background-image: linear-gradient(120deg, #C1DCFF, #5DA4FF);
}
#expandible-departamentos ul li:nth-child(1){
	border-radius: 15px 15px 0 0;
}
#expandible-departamentos ul li:nth-last-child(1){
	border-radius: 0 0 15px 15px;
}
#expandible-departamentos.animar-mostrar-departamentos{
	display: block;
}
/*La flecha superior del expandible departamentos*/
#flecha-departamentos{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);	
    transition: none;
}
#expandible-departamentos.animar-mostrar-departamentos-responsive{
	display: block;
}
/*

BUSCADOR

*/
#contenedor-buscador{
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0 20px;
	position: relative;
}
#buscador{
	border: none;
	border-radius: 5px 0 0 5px;
	height: 30px;
	box-sizing: border-box;
	width: calc(100% - 70px);
	z-index: 21;
	padding-left: 7px;
	transition: none;
}
/*Para ocultar la línea de borde al estar en focus*/
#buscador:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
#buscador-sugerencias{
    display: none;
    min-height: 100%;
    width: calc(100% - 70px);
    background-color: white;
    position: absolute;
    top: 30px;
    z-index: 20;
    text-align: left;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.36);
}
#buscador-sugerencias table{
	width: 100%;
	border-spacing: 0;
	padding: 10px;
}
#buscador-sugerencias table td{
	padding: 15px;
}
#buscador-sugerencias table a{
	text-decoration: none;
	color: #00265F;
}
#buscador-sugerencias table a:hover{
	color: blue;
}
#icono-busqueda{
	border-radius: 0 5px 5px 0;
	width: 70px;
	height: 30px;
	padding: 5px;
	cursor: pointer;
}
#icono-busqueda img{
	width: 20px;
}
#icono-busqueda:hover{
	background-color: #FFB400;
}
#icono-busqueda:active{
	background-color: #D97805;	
}
#contenedor-login-dropdown{
	position: relative;
}
/*

SESIÓN

*/
#usuario{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#usuario:hover{
	font-weight: bold;
}
#menu-sesion{
	display: none;
	position: absolute;
    background: white;
    top: 70px;
    margin: 0;
    padding-left: 0; 
    width: 200px;
    text-align: left;
    list-style-type: none;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}
#menu-sesion li{
	padding: 10px 30px;
}
#menu-sesion a{
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
}
#menu-sesion a li:hover{
	background-image: linear-gradient(120deg, #C1DCFF, #5DA4FF);
}
#session-first{
	border-radius: 15px 15px 0 0;
}
#session-last{
	border-radius: 0 0 15px 15px;
}
#triangulo-up-sesion{
	display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    bottom: -1px;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    transition: none;
}
.thumbnail{
	max-width: 50px;
	max-height: 50px;
}
.producto-precio{
	color: red;
	font-family: 'open sans condensed';
}
@media (max-width: 1200px){
	#buscador-sugerencias tr td{
		padding: 5px;
	}
}
@media (max-width: 1100px){
	#buscador-sugerencias tr td:nth-last-child(1){
		display: none;
	}
}
@media (max-width: 1000px){
	#contenedor-buscador{
		margin: 0 20px;
	}
	#menu-principal{
		padding: 10px;
	}
	#expandible-departamentos{
		left: -65px;
	}
	a#cesta, a#departamentos, #contenedor-login-dropdown, #usuario {
	    width: 70px;
	    font-size: 8pt;
	}
	#menu-sesion{
		right: 0;
	}
}
@media (max-width: 900px){
	#buscador-sugerencias tr td:nth-last-child(1){
		display: none;
	}
}
@media (max-width: 650px){
	#toggle-menu-responsive{
		display: block;
	}
	#logo{
		height: 100px;
	}
	#menu-principal{
		height: 100%;
		flex-direction: column;
	}
	#menu-principal > a{
		margin: 0 0 0 0; 
	}
	a#usuario{
		margin-top: 0;
	}
	#contenedor-buscador{
		flex: initial;
		width: 80%;
	}
	table#productos-cesta{
		top: 77.5%;
	}
	#menu-sesion{
		right: initial;
	}
	#expandible-departamentos{
		z-index: 40;	
	}
}
@media (max-width: 400px){
	#buscador-sugerencias tr td:nth-child(1){
		display: none;
	}
}