/*

MAIN MENU

*/

.main-menu{
  height: 50px;
  background-image: linear-gradient(-270deg, #030070, #030068);  
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
  position: fixed;
  z-index: 3;
  text-align: center;
  top: 0;
}
.main-menu a{
  text-decoration: none;
  color: white;
  font-size: 13pt;
  font-family: verdana;
  flex-grow: 4;
}
.main-menu a:hover{
  color: yellow;
}
.active-menu{
  color: rgb(12, 0, 147);
}

/*

Burger

*/

#contenedor-burger{
  box-sizing: border-box;
  cursor: pointer;
  width: 40px;
  height: 35px;
  flex: none;
  border-radius: 2px;
  position: relative;
}
#icono-menu{
  width: 100%;
  height: 100%;
}

/*

GENERALES

*/

body{
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
