/*

GENERALES

*/
#contenedor-total{
    position: relative;
    top: 50px;
}
.secundario{
    color: grey;
}
.contenedor-mensaje-carga{
    display: flex;
    padding: 30px;
}
.contenedor-mensaje-carga h3{
    margin-left: 20px;
}
/*

TABLA FACTURAS

*/
#tabla-facturas{
    margin: 10px;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
th, td{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    max-width: 300px;
}
.lista-productos-comprados{
    list-style-type: upper-roman;
}