*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease-out;
}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, h6, button{
	font-family: helvetica;
    font-weight: normal;
    font-family: 'Open Sans Condensed', sans-serif;
}
h1{
    font-size: 36pt;
}
h2{
    font-size: 32pt;
}
h3{
    font-size: 26pt;
}
hr{
    border: 1px solid lightgrey;
}
button{
  background-color: rgb(3, 0, 107);
  color: white;
  border: none;
  padding: 5px;
  flex-grow: 1;
  font-size: 10pt;
  font-family: 'open sans';
}
button:hover{
  cursor: pointer;
  background-color: rgb(5, 0, 167);
}
input{
  padding: 10px;
  border: 1px solid lightgrey;
}
input:hover{
  border: 1px solid blue;
  box-sizing: border-box;
}
textarea{
  padding: 10px;
}
textarea:hover{
 border: 1px solid blue; 
}
.spinner{
    border: 2px solid whitesmoke;
    border-top: 2px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    position: absolute;
}
.big-spinner{
    border: 5px solid whitesmoke;
    border-top: 5px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
.thin-spinner{
    border: 2px solid whitesmoke;
    border-top: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    top: 100px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
button{
    transition: none;
}
button.disabled{
    background-color: grey;
    color: whitesmoke;
}