/*

GENERALES

*/
#contenedor-total{
    position: relative;
    top: 50px;
}
.secundario{
    color: grey;
}
.contenedor-mensaje-carga{
    padding: 30px;
}
.contenedor-mensaje-carga h3{
    margin-left: 20px;
}
.error{
    text-align: center;
    color: tomato;
}
.spinner-inline{
    border: 2px solid lightgrey;
    border-top: 2px solid black;
    margin-top: 2px;
}
.spinner-enviar-email{
    display: none;
    margin-left: 3px;
    margin-top: 2px;
}
/*

WIDGET VISTAZO RAPIDO

*/
#contenedor-estado{
    display: none;
    max-width: 350px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;
    justify-content: space-between;
    border: 1px solid lightgrey;
}
#contenedor-estado div{
    display: inline-block;
}
#contenedor-estado p{
    margin-top: 0;
}
/*

WIDGET FACTURAS

*/
th{
    padding: 5px;    
}
td{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
    max-width: 300px;
}
td:nth-child(8){
    width: 150px;
}
tr:nth-child(even){
    background-color: whitesmoke;
}
tr:hover{
    background-color: rgba(0, 0, 0, 0.08);
}
.td-limitar-altura{
    max-height: 200px;
    min-width: 200px;
    overflow: auto;
}
#contenedor-facturas{
    max-width: 1350px;
    margin: auto;
}
#tabla-facturas{
    display: none;
    margin: 0 10px;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid lightgrey;
    width: 100%;
}
#filtros-facturas{
    display: none;
    margin: 0 10px;
    border: 1px solid lightgrey;
    width: 100%;
    min-height: 74px;
    padding: 10px;
    padding-bottom: 0;
    /*Para juntar los bordes de ambos componentes*/
    position: relative;
    top: 1px;
}
#paginacion-footer-facturas{
    display: none;
    margin: 0 10px;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 10px;
    padding-top: 0;
    /*Para juntar los bordes de ambos componentes*/
    position: relative;
    bottom: 1px;
}
#filtros-facturas-estado{
    display: inline;
}
.mensaje-nohayfacturas{
    text-align: center;
    padding: 20px;
}
.paginacion-facturas{
    display: inline;
}
.contenedor-filtros-estado{
    width: 250px;
    float: right;
}
.nombre-filtro{
    cursor: pointer;
}
.nombre-filtro-disabled{
    color: lightgrey;
}
.lista-productos-comprados{
    list-style-type: upper-roman;
}
.button-pagina{
    background-color: lightgrey;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    transition: none;
}
.button-pagina:hover{
    opacity: 0.7;
}
.pagina-activa{
    background-color: #020045;
    color: white;
}
.boton-estado{
    width: 100%;
}
.mensaje-carga-boton-estado{
    text-align: center;
    width: 100%;
}
.negativo{
    background-color: tomato;
}
.positivo{
    background-color: green;
}
/*

CHART

 */
#chart{
}
/*

RESPONSIVE

 */
@media (max-width: 1420px){
    .contenedor-responsive-tabla{
      overflow: auto;
    }
}
@media (max-width: 1000px){
    #filtros-facturas{
        height: 180px;
    }
}