<!DOCTYPE html>
<html>
<head>
	<title>Resultados de buscar: "{{busqueda}}"</title>
	<link rel="stylesheet" type="text/css" href="../css/busqueda.css">
	{{> header}}
</head>
<!--//TODO pagina de búsqueda de productos-->
<body>

	{{> menu}}

    <div id="contenedor-principal">
    	{{if isProductos}}
		    <div>
		    	<h2>Resultados de buscar: <b>{{busqueda}}</b></h2>
		    	{{if resultadoUnico}}
					<i>Mostrando {{cantidadProductos}} resultado.</i>
				{{else}}
					<i>Mostrando {{cantidadProductos}} resultados.</i>
				{{/if}}

				{{if hayPaginas}}
					<div class="paginacion">{{paginas}}</div>
				{{/if}}
			</div>
	    	{{array productos}}
			<div class="producto">
				<a href="/p/{{permalink}}"><img class="producto-imagen" src="../public-uploads/{{imagen}}" width="300px"></a>
				<span class="producto-precio">{{precio}}€</span>
				<span class="producto-titulo">{{titulo}}</span>
				<span class="producto-categoria">{{categoria}}</span>
	    	</div>
	    	{{/array}}    
    	{{else}}
    		<div class="mensaje-error">
	    		<h3>{{errorMessage}}</h3>
	    		<button onclick="window.location=document.referrer">Volver a la página anterior</button>
	    	</div>
    	{{/if}}
	</div>

	{{> footer}}

	<script type="text/javascript" src="../js/busqueda.js"></script>
</body>
</html>