<footer>
	<div class="footer-columna">
		<b>Departamentos</b>
		<ul class="departamentos"></ul>
	</div>
	<div class="footer-columna">
		<b>Aceptamos estas tarjetas</b>
		<div class="footer-contenedor-payments">
			<img src="../../images/payments-accepted/mastercard.png" width="50px" />
			<img src="../../images/payments-accepted/visa.png" width="50px" />
			<img src="../../images/payments-accepted/american-express.png" width="50px" />
			<img src="../../images/payments-accepted/diners-club.png" width="50px" />
			<img src="../../images/payments-accepted/discover.png" width="50px" />
			<img src="../../images/payments-accepted/jcb.png" width="50px" />
		</div>
	</div>
</footer>

<script type="text/javascript" src="../js/functions.js"></script>
<script type="text/javascript" src="../js/menu.js"></script>
<script type="text/javascript" src="../js/cesta.js"></script>
<script type="text/javascript" src="../js/classAcordeon.js"></script>