<!--The general info about the framework and menu-->
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/framework.css">
<link rel="stylesheet" type="text/css" href="../css/menu.css">
<link rel="stylesheet" type="text/css" href="../css/cesta.css">
<link rel="icon" type="image/png" href="../../images/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/classAcordeon.css">