<div id="menu-principal">
	<a href="/" id="logo">Tienda</a>
	<a id="departamentos" href="javascript:void(0)">
		departamentos
		<div id="expandible-departamentos">
			<ul></ul>
			<span id="flecha-departamentos"></span>
		</div>
	</a>
	<div id="contenedor-buscador">
		<input id="buscador" type="text" name="buscador">
		<div id="buscador-sugerencias">
			<table></table>
		</div>
		<button id="icono-busqueda"><img src='../../images/search.png'/></button>
	</div>
	<a id="cesta" href="javascript:void(0)">
		<img src="../../images/cart.svg" width="30px"/>
		cesta
		<div class="triangulo-up"></div>
	</a>
	<table id="productos-cesta"></table>
	<div id="contenedor-login-dropdown">
		<a id="usuario" href="/login">
			iniciar sesión
		</a>
		<table id="menu-sesion">
			<tr>
				<td><a href="/close-session">cerrar sesión</a></td>
			</tr>
		</table>
	</div>
</div>