<div id="menu-principal">
	<a href="/" id="logo">Tienda</a>
	<button id="toggle-menu-responsive" onclick="toggleMenuMovil()">
		<img src="../../images/menu.png" width="30px" height="30px">
	</button>
	<a id="departamentos" href="javascript:void(0)">
		<img src="../../images/store.svg" width="30px">
		departamentos
		<div id="expandible-departamentos">
			<ul></ul>
			<span id="flecha-departamentos"></span>
		</div>
	</a>
	<div id="contenedor-buscador">
		<input id="buscador" type="text" name="buscador">
		<div id="buscador-sugerencias">
			<table></table>
		</div>
		<button id="icono-busqueda"><img src='../../images/search.png'/></button>
	</div>
	<a id="cesta" href="javascript:void(0)">
		<img src="../../images/cart.svg" width="30px"/>
		cesta
		<span class="triangulo-up"></span>
	</a>
	<table id="productos-cesta"></table>
	<div id="contenedor-login-dropdown">
		<a id="usuario" href="{{loggedState}}">{{loggedStateHTML}}</a>
		<span id="triangulo-up-sesion"></span>
		<ul id="menu-sesion">
			<a href="{{loggedState}}"><li id="session-first" onmouseenter="cambiarColorFlechaDepartamentos()" onmouseleave="cambiarColorFlechaDepartamentos()">
				mi cuenta
			</li></a>
			<a href="/close-session"><li id="session-last">cerrar sesión</li></a>
		</ul>
	</div>
</div>